-content_for :left_top do
	%h2 Register
	= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
		= devise_error_messages!
		%div
			= f.label :email
			%br/
			= f.email_field :email, :class => 'left_field'
		%div
			= f.label :password
			%br/
			= f.password_field :password, :class => 'left_field'
		%div
			= f.label :password_confirmation
			%br/
			= f.password_field :password_confirmation, :class => 'left_field'
		%div= f.submit "Sign up"
	= render :partial => "devise/shared/links"
